# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Packaging files:
*.egg*

# Sphinx docs:
build

# SQLite3 database files:
*.db
*.sqlite3
*.sqlite

# Logs:
*.log*

# Environment variables
local.env

# Django stuff:
*.mo
*.pot

# Eclipse
.project
.pydevproject
.settings

# Linux Editors
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
*.swp
*.swo

# Pycharm
.idea/
.pycharm-bash

# Local and active settings
/{{ project_name }}/settings/local.py
/{{ project_name }}/settings/environment_overrides/active.py

# Celery
celerybeat-schedule
celerybeat.pid

# Django
{{ project_name }}/media/*

# Coverage and analysis reports/logs
.coverage
.sonar
coverage.xml
cover
